<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182821133800-ba3eifstrfmjco01cknsfp7qom34f193.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182821133800-ba3eifstrfmjco01cknsfp7qom34f193</string>
	<key>API_KEY</key>
	<string>AIzaSyA4VzZKEk9sa95YYP8hSQoQrYogtelpyio</string>
	<key>GCM_SENDER_ID</key>
	<string>182821133800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.focustraining.flashChatApp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a3575</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a3575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182821133800:ios:f189fc39475aac58b7d85d</string>
</dict>
</plist>